h1, h2 {
    text-align: center;
}

h1 {
    background-color: lightskyblue;
}

h2 {
    background-color: lightgoldenrodyellow;
}

img {
    width: 400px;
    height: 300px;
}

a { 
    font-size: 20px;
}

#nav {
    list-style: none;
}

#nav li {
    background-color: lightpink;
    display: inline-block;
    padding: 20px;
    margin: 0 100px;
}